{% extends 'base.html' %}

{% block content %}

<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="user-dashboard loader-holder" style="width: 450px;min-height:auto;">
                        <div class="user-holder">
                    <h4 class="text-center" style="margin-bottom: 0;">Welcom!</h4>
                    <!-- <p class="text-center">Register your restaurant in the foodOnline marketplace.</p> -->
                    <hr>
                    <div id="restaurant-sets-holder">
                        <form class="form-fields-set foodbakery-dev-restaurant-form" method="post" action="{% url 'login' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                <li>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Email Address</label>
                                                                <input type="email" name="email" >
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Password</label>
                                                                <input type="password" name="password" >
                                                            </div>
                                                        </div>
                                                        
                                                        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Email Address</label>{{ form.email }}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Username</label>{{ form.username }}
                                                            </div>
                                                        </div> -->

                                                        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Restarurant Name</label>{{ v_form.vendor_name }}
                                                            </div>
                                                        </div> -->

                                                        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Restarurant License</label>{{ v_form.vendor_license }}
                                                            </div>
                                                        </div> -->
                                                   
                                                    
                                                    <!-- <li>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Password</label>
                                                                {{ form.password }}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Confirm Password</label>
                                                                {{ form.confirm_password }}
                                                            </div>
                                                        </div>
                                                    </li> -->
                                               
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-holder ">
                                                <div class="payment-holder">
                                                    <input type="submit" value="Log In" id="btn-next-restaurant-information" class="bgcolor" style="display: block;
                                                    margin-right: auto;
                                                    margin-left: auto;">
                                                </div>
                                                
                                                <a href="{% url 'forgot_password' %}" style="display: block; text-align: center;color: brown;">
                                                    Forgot Password</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          
                                           {% include 'includes/alert.html' %}
                                        </div>
                                    </div>
                                    

                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}