{% extends 'base.html' %}

{% block content %}
{% include 'includes/alert.html' %}
{% load static %}

<!-- Main Section Start -->
<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 10px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            
                        </aside>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="listing-sorting-holder">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {% if count <= 1 %}
                                        <h4>{{ count }} Restaurant found</h4>
                                        {% else %}
                                        <h4>{{ count }} Restaurants found</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="listing simple">
                                <ul>
                                    {% for vendor in vendors %}
                                    <!-- <li style="line-height:15px;"> -->
                                    <li>
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#">
                                                    {% if vendor.user_profile.profile_picture %}
                                                    <a href="{% url 'vendor_detail' vendor.vendor_slug %}"><img src="{{ vendor.user_profile.profile_picture.url }}" class="img-list wp-post-image" alt=""></a>
                                                    
                                                    {% else %}
                                                    <a href="{% url 'vendor_detail' vendor.vendor_slug %}"><img src="{% static 'images/avatar.png' %}" class="attachment-full size-full wp-post-image" alt=""></a>
                                                    {% endif %}
                                                
                                                </a>
                                            </figure>
                                            {% if  vendor.is_open %}
                                        <span class="restaurant-status open">
                                            <em class="bookmarkRibbon"></em>Open
                                        </span>
                                        {% else %}
                                        <span class="restaurant-status close">
                                            <em class="bookmarkRibbon"></em>Close
                                        </span>
                                        {% endif %}
                                        </div>
                                        <div class="text-holder">
                                            
                                            <div class="post-title">
                                                <h5>
                                                    <a href="{% url 'vendor_detail' vendor.vendor_slug %}">{{ vendor.vendor_name }}</a>
                                                  
                                                </h5>
                                            </div>
                                            {% if vendor.user_profile.city and vendor.user_profile.state %}
                                            <span>{{ vendor.user_profile.address }}</span>
                                            {% endif %}
                                            {% if source_loc %}
                                            <br>
                                            <span>
                                                {% if vendor.mile is 1 or vendor.mile is 0 %}
                                                <small><b>{{vendor.mile}}mile</b> away from {{source_loc}}</small>
                                               {% else %}
                                               <small><b>{{vendor.mile}}miles</b> away from {{source_loc}}</small>
                                               {% endif %}
                                            </span>
                                            {% endif %}
                                        </div>
                                        <div class="list-option">

                                            <a href="{% url 'vendor_detail' vendor.vendor_slug %}" class="viewmenu-btn text-color">View Menu</a>
                                        </div>
                                    </li>
                                    {% endfor %}


                                   
                                </ul>
                            </div>
                            
                        </div>
                        <div class="section-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="message-box" style="background-color: #fa9918;">
                                <strong>I'm not Listed!</strong><span>is your restaurant or
                                    business not
                                    listed on over site?</span>
                                <a href="{% url 'registerVendor' %}" class="request-btn">Add Your business!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->


{% endblock %}